<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    声明student对象
        注入：就是赋值的意思
        简单类型： java基本类型和字符串都是简单类型
        di：给属性赋值
        1。set注入（设置注入）：spring调用set方法完成赋值
        简单注入
        引用类型的Set注入 ref 中传bean的Id

        2 构造注入：spring调用类的有参构造方法，在创建对象是给属性赋值。
        构造注入使用 construcror-arg 标签
        一个标签表示一个属性：
                name：表示形参名
                index：表示构造方法的参数位置
                value： 简单类型使用value
                ref：引用类型使用Ref
        -->

        <bean id="student" class="org.example.ba03.student">
                <constructor-arg name="name" value="张三"/>
                <constructor-arg name="age" value="18"/>
                <constructor-arg name="school" ref="mySchool"/>

        </bean>

        <bean id="student01" class="org.example.ba03.student">
                <constructor-arg index="0" value="李四"/>
                <constructor-arg index="1" value="18"/>
                <constructor-arg index="2" ref="mySchool"/>


        </bean>
        <bean id="mySchool" class="org.example.ba03.School">
                <property name="name" value="北京大学"/>
                <property name="address" value="北京海淀区"/>
        </bean>


</beans>