<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    声明student对象
        注入：就是赋值的意思
        简单类型： java基本类型和字符串都是简单类型
        di：给属性赋值
        1。set注入（设置注入）：spring调用set方法完成赋值
        简单注入-->
        <bean id="student" class="org.example.ba01.student">
                <property name="age" value="18"/>
                <property name="name" value="小明"/>
        </bean>
</beans>